<% content_for :page_title do %>
  <h1 class="font-41 black"><%= t("robokassa.pay")%></h1>
<% end %>
<%= form_tag @gateway.url, :method => "GET" do %>
  <%= hidden_field_tag(:"MerchantLogin", @gateway.options[:mrch_login]) %>
  <%= hidden_field_tag(:"OutSum", @order.total)%>
  <%= hidden_field_tag(:"InvId", @order.id)%>
  <%= hidden_field_tag(:"Desc", I18n.t("robokassa.details_of_payment", :order_number => @order.number)) %>
  <%= hidden_field_tag(:"SignatureValue", @signature) %>
  <%= hidden_field_tag(:"IsTest", '1') if @gateway.test? %>
  <h1 class="font-41 black"><%= "#{t('spree.order')} #{@order.number}" %></h1>
  <%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} %>
  <div class="row text-right no-margin">
    <button class="btn btn-common button_buy left" href="">
      <%=t("pay") %>
    </button>
  </div>
<% end %>
